---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<Layout titulo="Salamandra Devs">
  <Header /> 
  <main>
    <!-- proximamente -->
  </main>
  <Footer />
</Layout>
