---

---
<section class="relative h-screen w-full ">
  <!-- fondo -->
  <div class="h-screen -z-10   absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"/>

  <!-- Front -->
  <div class="grid gri-cols-1 md:grid-cols-2 px-16 pr-8  py-16 gap-8   mx-auto  ">
    <!-- Left -->
    <div class="  py-16   lines ">
      <h1 class="text-4xl md:text-5xl font-inter font-bold   leading-[120%] tracking-[-0.02em]">
        Salamandra Devs
      </h1>
      <p class="font-inter font-normal text-base mt-4 text-pretty  leading-[150%]">
        Somos una comunidad inclusiva y colaborativa donde nos unimos para compartir conocimiento, resolvemos dudas, colaboramos en proyectos y sobre todo...  <br> !crecemos juntos!
      </p>
      <div class="flex flex-col gap-4 mt-11">
        <a href="#" class="inline-flex h-11 border border-borders  font-normal text-sm items-center px-6  gap-2 rounded-lg transition">
          <span class="inline-flex">Ingresa al Discord</span>
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" /><path d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3" /><path d="M7 16.5c3.5 1 6.5 1 10 0" /></svg>
        </a>
        <a href="#" class="inline-flex h-11 bg-sky-50 font-normal text-sm items-center px-5 py-3 gap-3 rounded-lg transition">
          <span>Síguenos en Telegram</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M19.777 4.43a1.5 1.5 0 0 1 2.062 1.626l-2.268 13.757c-.22 1.327-1.676 2.088-2.893 1.427c-1.018-.553-2.53-1.405-3.89-2.294c-.68-.445-2.763-1.87-2.507-2.884c.22-.867 3.72-4.125 5.72-6.062c.785-.761.427-1.2-.5-.5c-2.302 1.738-5.998 4.381-7.22 5.125c-1.078.656-1.64.768-2.312.656c-1.226-.204-2.363-.52-3.291-.905c-1.254-.52-1.193-2.244-.001-2.746z"/></g></svg>
        </a>
      </div>
    </div>
    <!-- Right -->
    <div class="flex  lines ">
      <img src="imgs/logo_big.png" class="object-cover w-[360px] mx-auto"/>
    </div>
  </div>

</section>